

@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&display=swap');



:root {
  /**
    * Tier 1
    */
  --bf-color-brand-orange: #be6700;
	--bf-color-brand-orange-muted: #c49a3b;
	--bf-color-brand-orange-dark: #c05e24;
	--bf-color-brand-blue-light: #80cafa;
	--bf-color-brand-blue-dark: #0b0049;
	--bf-color-brand-brown: #110000;
	--bf-color-brand-brown-light: #403333;
	--bf-color-brand-brown-extra-light: #887f7f;
	--bf-color-brand-cream: #f6f5de;
	--bf-color-brand-cream-dark: #dedcb9;
	--bf-color-brand-cream-light: #efeed4;
	--bf-color-brand-cream-extra-dark: #a29e5e;
	--bf-color-brand-cream-extra-extra-dark: #8e7d58;
    --bf-color-brand-mustard: #c9b039;
	--bf-color-white: #ffffff;
	--bf-color-black: #000000;

	--bf-color-utility-red: #c05e24;

  /**
    * Tier 2
    */
	--bf-theme-color-background-default: var(--bf-color-brand-brown);
	--bf-theme-color-background-subtle: var(--bf-color-brand-cream-light);
	--bf-theme-color-background-knockout: var(--bf-color-brand-brown);
	--bf-theme-color-background-brand: var(--bf-color-brand-orange);
	--bf-theme-color-background-brand-knockout: var(--bf-color-brand-orange);
	--bf-theme-color-background-accent: var(--bf-color-brand-blue-light);
	--bf-theme-color-background-accent-2: var(--bf-color-brand-blue-dark);
	--bf-theme-color-background-accent-3: var(--bf-color-brand-mustard);
	--bf-theme-color-border-default: var(--bf-color-brand-brown);
	--bf-theme-color-border-subtle: var(--bf-color-brand-cream-dark);
	--bf-theme-color-border-brand: var(--bf-color-brand-orange);
	--bf-theme-color-border-brand-dark: var(--bf-color-brand-cream-extra-dark);
	--bf-theme-color-border-brand-accent: var(--bf-color-brand-blue-light);
	--bf-theme-color-border-brand-subtle: var(--bf-color-brand-cream-dark);
	--bf-theme-color-border-error: var(--bf-color-utility-red-600);
	--bf-theme-color-content-default: var(--bf-color-brand-cream);
	--bf-theme-color-content-brand: var(--bf-color-brand-orange);
	--bf-theme-color-content-subtle: var(--bf-color-brand-cream-extra-dark);
  --bf-theme-color-content-accent: var(--bf-color-brand-blue-light);
	--bf-theme-color-content-accent-2: var(--bf-color-brand-blue-dark);
	--bf-theme-color-content-accent-3: var(--bf-color-brand-mustard);
	--bf-theme-color-content-knockout: var(--bf-color-brand-cream);
	--bf-theme-color-content-error: var(--bf-color-utility-red-600);
	--bf-theme-color-focus-ring: var(--bf-color-black);
	--bf-theme-color-focus-ring-inverted: var(--bf-color-brand-cream);


  --size-max-width: 70vw;
}

.theme-light {
  /**
    * Tier 2
    */
	--bf-theme-color-background-default: var(--bf-color-brand-cream);
	--bf-theme-color-background-subtle: var(--bf-color-brand-cream-light);
	--bf-theme-color-background-knockout: var(--bf-color-brand-brown);
	--bf-theme-color-background-brand: var(--bf-color-brand-orange);
	--bf-theme-color-background-brand-knockout: var(--bf-color-brand-orange);
	--bf-theme-color-background-accent: var(--bf-color-brand-blue-light);
	--bf-theme-color-background-accent-2: var(--bf-color-brand-blue-dark);
	--bf-theme-color-background-accent-3: var(--bf-color-brand-mustard);
	--bf-theme-color-border-default: var(--bf-color-brand-brown);
	--bf-theme-color-border-subtle: var(--bf-color-brand-cream-dark);
	--bf-theme-color-border-brand: var(--bf-color-brand-orange);
	--bf-theme-color-border-brand-dark: var(--bf-color-brand-cream-extra-dark);
	--bf-theme-color-border-brand-accent: var(--bf-color-brand-blue-light);
	--bf-theme-color-border-brand-subtle: var(--bf-color-brand-cream-dark);
	--bf-theme-color-border-error: var(--bf-color-utility-red-600);
	--bf-theme-color-content-default: var(--bf-color-brand-brown);
	--bf-theme-color-content-brand: var(--bf-color-brand-orange);
	--bf-theme-color-content-subtle: var(--bf-color-brand-cream-extra-dark);
  --bf-theme-color-content-accent: var(--bf-color-brand-blue-light);
	--bf-theme-color-content-accent-2: var(--bf-color-brand-blue-dark);
	--bf-theme-color-content-accent-3: var(--bf-color-brand-mustard);
	--bf-theme-color-content-knockout: var(--bf-color-brand-cream);
	--bf-theme-color-content-error: var(--bf-color-utility-red-600);
	--bf-theme-color-focus-ring: var(--bf-color-black);
	--bf-theme-color-focus-ring-inverted: var(--bf-color-brand-cream);
}

* {
  box-sizing: border-box;
}

body {
  background: url(./images/bg-painting-dark.jpg);
  background-size: 100vw auto;
  background-color: var(--bf-theme-color-background-default);
  background-attachment: fixed;
  color: var(--bf-theme-color-content-knockout);
  font-family: "League Gothic", sans-serif;
  margin: 0;
  padding: 20vh 0 0 0;
}

h1 {
  margin: 0;
  text-transform: lowercase;
  text-align: center;
  font-size: 10vw;
  line-height: 0.8;
  font-weight: normal;
  font-variation-settings: "wdth" 75;
  text-wrap: balance;
}

h2, h3, h4 {
  font-weight: normal;
  text-transform: lowercase;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: 0 4rem 4rem;
  color: var(--bf-theme-color-content-default);
  background-color: var(--bf-theme-color-background-default);
  min-height: 100vh;
}

.header {
  position: relative;
  color: var(--bf-theme-color-content-default);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -4rem 4rem;
  
  text-transform: lowercase;
  font-size: 2vw;
}

.header__link {
  color: var(--bf-color-brand-orange);
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

.header__link--accent {
  color: var(--bf-color-brand-blue-light);
}

.header__link--accent-2 {
  color: var(--bf-color-brand-mustard);
}

/* .logo {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  font-size: 18vw;
  line-height: 1;
  text-box: trim-both cap alphabetic;
  font-weight: normal;
  font-variation-settings: "wdth" 75;
}

.logo__link {
  color: var(--bf-theme-color-background-default);
  text-decoration: none;
} */

.primary-nav {
  margin: 0 auto 4rem auto;
  
  text-transform: lowercase;
  font-size: 2.8vw;
}

.primary-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.primary-nav__item:nth-child(4n) .primary-nav__link {
  color: var(--bf-theme-color-content-brand);
}

.primary-nav__item:nth-child(4n+1) .primary-nav__link {
  color: var(--bf-theme-color-content-accent);
}

.primary-nav__item:nth-child(4n+2) .primary-nav__link {
  color: var(--bf-theme-color-content-accent-3);
}

.primary-nav__item:nth-child(4n+3) .primary-nav__link {
  color: var(--bf-theme-color-content-knockout);
}

.primary-nav__item {
  margin: 0;
}

.primary-nav__link {
  text-decoration: none;
  color: var(--bf-theme-color-content-knockout);

}

.button {
  background: var(--bf-theme-color-background-brand);
  color: var(--bf-theme-color-content-knockout);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  text-transform: lowercase;
}

.block-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.stacked-block {
  padding: 2rem 0;

  border-bottom: 1px solid var(--bf-theme-color-border-default);
}

.stacked-block__title {
  font-size: 4vw;
  margin: 0;
}

.stacked-block__link {
  text-decoration: none;
  color: var(--bf-theme-color-content-brand);
}